#gestures {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#gestures button {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
    background-color: #3498db;
}